<div class="mb-3">
	<div class="row">
		<div class="col-6">
			<h3>Boxes</h3>
		</div>
		<div class="col-6">
			<a href="{{ page.get_addboxURL() }}" class="btn btn-secondary">
				<i class="fa fa-plus" aria-hidden="true"></i> Add Box
			</a>
		</div>
	</div>
	<div class="list-group">
		{% for i in 1..warehousepacking.get_cartoncount() %}
			<a href="{{ page.get_boxURL(i) }}" class="list-group-item">
				<h5>Box {{ i }}</h5>
			</a>
		{% endfor %}
	</div>
</div>
